{% extends "base.html" %}
{% block main %}
    <div>
        <h1>{{ add.title }}</h1>
        <p>{{ add.description }}</p>
    </div>
    {% if request.user.id == add.user.id %}
        <div>
            <h3><a href="{% url 'main:add_update' add.id %}">Редактировать</a></h3>
            <form action="{% url 'main:add_delete' add.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Удалить</button>
            </form>
        </div>

    {% endif %}
{% endblock %}
