{% extends "base.html" %}
{% block main %}
    {% if object_list %}
        <ul class="list-group">
        {% for add in object_list %}
            <li class="list-group-item">
                <h3><a href="{% url "main:add_detail" add.id %}">{{ add.title }}</a></h3>
                <p>{{ add.description}}</p>
                <h6>{{ add.user.username }} - {{ add.created }}</h6>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Netu :(</p>
    {% endif %}
{% endblock %}