{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>K-Board</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<header class="container-fluid">
    <a href="{% url 'main:index' %}" class=""><b>K-Board</b></a>
    <a href="{% url 'main:adds' %}" class="">Adds</a>
    <a href="{% url 'main:new_add' %}" class="">New</a>
    {% if request.user.is_authenticated %}
        <a href="">{{ request.user.username }}</a>
        <a href="{% url 'main:logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'main:login' %}">Login</a>
    {% endif %}
</header>
<main class="container-fluid">
    {% block main %}
        <section id="404">
            <h1>404</h1>
            <p>Я что-то нажал и все исчезло!</p>
        </section>
    {% endblock %}
</main>
<footer class="container-fluid">
    <h1>Footer</h1>
</footer>

</body>
</html>